header {
  padding: 0 16px 0 16px;
  box-sizing: border-box;

  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;

  transition:
    opacity 0.3s ease,
    background-color 0.3s ease;

  &.scrolled {
    opacity: 0.5;
  }

  &.hidden {
    display: none;
  }
}
.header {
  box-sizing: border-box;
  gap: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  height: 20vh;
  padding: var(--spaceM);

  background-color: var(--footerHeader);

  & .conteiner_heder__logo_and__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}
.header_logo {
  max-width: 5vw;
  height: auto;
  border-radius: 50%;
  height: auto;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  list-style: none;

  & li {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.2);
        font-weight: 700;
        background-color: rgb(198, 241, 198);

        padding: var(--spaceX);

        border-radius: var(--border-rX);
      }
    }

    &:active {
      transform: scale(1.2);
      font-weight: 700;
      background-color: rgb(198, 241, 198);

      padding: var(--spaceX);

      border-radius: var(--border-rX);
    }
  }

  & button {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
  }
}

.conteiner_Burger {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;

  & button {
    cursor: pointer;
    border: none;

    border-radius: var(--border-rM);

    width: 100%;
    height: 100%;
    background-color: #f0f0f0;

    align-items: center;

    padding: 20%;
    & span {
      width: 100%;
      border: 1.5px solid black;
    }
  }

  & .ul_burger {
    visibility: hidden;

    position: absolute;
    right: 0%;
    background-color: #f0f0f0;

    width: 200px;
    gap: 20px;

    padding: var(--spaceM);

    box-sizing: border-box;
    align-items: start;
    border-radius: var(--border-rM);

    &.active {
      visibility: visible;
    }
  }
}

@media (min-width: 200px) and (max-width: 480px) {
  .conteinerHeader {
    display: none;
  }
  .conteiner_Burger {
    display: block;
  }
  .conteiner_heder__logo_and__title {
    // flex-direction: column;
    flex-direction: row-reverse;

    & img {
      max-width: 15vw;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .conteinerHeader {
    display: none;
  }
  .header_title_website {
    font-size: 5vw;
  }
  .conteiner_Burger {
    display: block;
  }

  .conteiner_heder__logo_and__title {
    flex-direction: row-reverse;

    & img {
      max-width: 10vw;
    }
  }
}
